*{
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.textologo{
    font-size: 15pt;
    font-weight: 400;
}


.quienessomos p{
    text-align: left;
    
}


.quienessomos i{
    padding-left: 210px;
    padding-right: 210px;
    
    
}

.carousel-inner{
    height: 900px;
    width: 100%;
}

.card img{
    width: 100%;
    height: 100%;
}

/*RESPONSIVE*/

@media (max-width:768px){

   body p h1 h2 {
    text-align: center;
    text-align: center;
   }
   
   
.carousel-inner{
    height: 200px;
    width: 100%;
}

.card img{
    width: 100%;
    height: 100%;
}


.carousel-control-prev{
    display: none;
}

.carousel-control-next{
    display: none;
}

i .iconos {
 margin-right: 50px;
}

.quienessomos p{
    text-align: center;
}


.quienessomos i{
   justify-items: center;
   padding-left: 100px;
   padding-right: 100px;
}

.tarjetas{
 padding-left: 20px;
 text-align: center;
}

.iconosfooter{
justify-content: center;

}


}     

    







